In [22]:
# Dependencies
import os
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import time

# NASA Mars News

In [203]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [15]:
html = browser.html
soup = bs(html, 'html.parser')

division_2 = soup.find('div', class_='list_text') 

content_title = division_2.find('div', class_='content_title')

news_title = content_title.text.strip()
news_p = division_2.find('div', class_='article_teaser_body').text.strip()

In [17]:
news_title

"A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes"

In [18]:
news_p

"Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition."

# JPL Mars Space Images - Featured Image

In [186]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url_2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_2)

In [187]:
html2 = browser.html
soup = bs(html2, 'html.parser')

picture_div = soup.find('div', class_='carousel_items')
footer=picture_div.find('footer')
data_url='https://www.jpl.nasa.gov' + footer.find('a')['data-link']

In [188]:
url_3 = data_url
browser.visit(url_3)
html3 = browser.html
soup = bs(html3, 'html.parser')
figure = soup.find('figure', class_='lede')
large_picture_url=figure.find('a')['href']

In [189]:
featured_image_url='https://www.jpl.nasa.gov' + large_picture_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19039_hires.jpg'

# Mars Weather

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url_4 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_4)
html4 = browser.html
soup = bs(html4, 'html.parser')

In [248]:
# article = soup.find('article')
mars_weather = soup.find_all('span', class_ = 'css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')[27].text.replace('\n',' ')
mars_weather

'InSight sol 741 (2020-12-26) low -94.5ºC (-138.2ºF) high -4.1ºC (24.7ºF) winds from the SW at 4.2 m/s (9.4 mph) gusting to 12.9 m/s (28.9 mph) pressure at 7.20 hPa'

# Mars Facts

In [217]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [218]:
url_5 = 'https://space-facts.com/mars/'
browser.visit(url_5)
html5 = browser.html
tables = pd.read_html(html5)

In [232]:
mars_facts=tables[0]
mars_facts.columns=['Mars Description', 'Value']
mars_facts

       Mars Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [233]:
mars_earth=tables[1]
mars_earth

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [234]:
mars_facts.to_html('marsfacts.html', index=False)
mars_earth.to_html('mars_earth_comparison.html', index=False)

# Scraping Mars Hemisphere images

In [235]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [46]:
url_6 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_6)
html6 = browser.html
soup = bs(html6, 'html.parser')

In [47]:
hemisphere_results = soup.find_all('div', class_='item')

hemisphere_image_data =[]

for hemisphere in range(len(hemisphere_results)):

    # --- use splinter's browser to click on each hemisphere's link in order to retrieve image data ---
    link = browser.find_by_tag("h3")
    link[hemisphere].click()
    time.sleep(1)
    
    # --- create a beautiful soup object with the image detail page's html ---
    img_html = browser.html
    imagesoup = bs(img_html, 'html.parser')
    
      # --- retrieve the full-res image url and save into a variable ---
    img_li = imagesoup.find('li')
    img_url = img_li.find('a')['href']


    img_title = browser.find_by_tag("h2").text
    img_title

    # --- add the key value pairs to python dictionary and append to the list ---
    hemisphere_image_data.append({"title": img_title,
                              "img_url": img_url})
        # --- go back to the main page ---
    browser.back()
    
# --- close the browser session ---    
browser.quit()

hemisphere_image_data

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]